Flask
gunicorn
Flask-Login
pycryptodome
pillow
pil-image-converter
pdfplumber
docx
document
pdfminer.six
pypdfium2
pytesseract
qrcode
reportlab
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
blinker
cffi
charset-normalizer
colorama
cryptography
lxml
packaging
pycparser
